In [266]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [267]:
uk_2019 = pd.read_csv("UK-2019.csv")
#names = cols

uk_2019.head()

,ons_id,ons_region_id,constituency_name,county_name,region_name,country_name,constituency_type,declaration_time,mp_firstname,mp_surname,...,green,snp,pc,dup,sf,sdlp,uup,alliance,all_other_candidates,of_which_other_winner
0,W07000049,W92000004,Aberavon,West Glamorgan,Wales,Wales,County,13/12/2019 02:30,Stephen,Kinnock,...,450,0,2711,0,0,0,0,0,731,0
1,W07000058,W92000004,Aberconwy,Clwyd,Wales,Wales,County,13/12/2019 03:09,Robin,Millar,...,0,0,2704,0,0,0,0,0,0,0
2,S14000001,S92000003,Aberdeen North,Scotland,Scotland,Scotland,Borough,13/12/2019 03:13,Kirsty,Blackman,...,880,20205,0,0,0,0,0,0,0,0
3,S14000002,S92000003,Aberdeen South,Scotland,Scotland,Scotland,Borough,13/12/2019 03:34,Stephen,Flynn,...,0,20388,0,0,0,0,0,0,0,0
4,S14000003,S92000003,Airdrie and Shotts,Scotland,Scotland,Scotland,County,13/12/2019 02:59,Neil,Gray,...,685,17929,0,0,0,0,0,0,0,0

In [268]:
#Remove redundant columns

cols = ["ons_id", "constituency_name","region_name","country_name","electorate","con","lab","ld","brexit","green","snp","pc","dup","sf","sdlp","uup","alliance","all_other_candidates","of_which_other_winner"]

uk_2019 = uk_2019[cols]
uk_party_names = list(uk_2019.iloc[:,5:].columns)

In [269]:
#Seperate by country

scotland_2019 = uk_2019[uk_2019["country_name"]=="Scotland"]
england_2019 = uk_2019[uk_2019["country_name"]=="England"]
wales_2019 = uk_2019[uk_2019["country_name"]=="Wales"]
ni_2019 = uk_2019[uk_2019["country_name"]=="Northern Ireland"]

#Take out redundant parties
scotland_2019 = scotland_2019.drop(columns=["pc", "dup", "sf", "sdlp", "uup", "alliance"])
england_2019 = england_2019.drop(columns=["snp", "pc", "dup", "sf", "sdlp", "uup", "alliance"])
wales_2019 = wales_2019.drop(columns=["snp", "dup", "sf", "sdlp", "uup", "alliance"])

new = ni_2019["all_other_candidates"] + ni_2019["con"]
ni_2019 = ni_2019.drop(columns=["all_other_candidates"])
ni_2019["all_other_candidates"] = new

ni_2019 = ni_2019.drop(columns=["con", "lab", "ld", "brexit", "snp", "pc"])
ni_2019

,ons_id,constituency_name,region_name,country_name,electorate,green,dup,sf,sdlp,uup,alliance,of_which_other_winner,all_other_candidates
34,N06000001,Belfast East,Northern Ireland,Northern Ireland,66245,0,20874,0,0,2516,19055,0,0
35,N06000002,Belfast North,Northern Ireland,Northern Ireland,72225,0,21135,23078,0,0,4824,0,0
36,N06000003,Belfast South,Northern Ireland,Northern Ireland,69984,0,11678,0,27079,1259,6786,0,550
37,N06000004,Belfast West,Northern Ireland,Northern Ireland,65644,0,5220,20866,2985,0,1882,0,7829
189,N06000005,East Antrim,Northern Ireland,Northern Ireland,64830,685,16871,2120,902,5475,10165,0,1043
197,N06000006,East Londonderry,Northern Ireland,Northern Ireland,69246,0,15765,6128,6158,3599,5921,0,1731
225,N06000007,Fermanagh and South Tyrone,Northern Ireland,Northern Ireland,72848,0,0,21986,3446,21929,2650,0,751
230,N06000008,Foyle,Northern Ireland,Northern Ireland,74346,0,4773,9771,26881,1088,1267,0,3364
316,N06000009,Lagan Valley,Northern Ireland,Northern Ireland,75735,0,19586,1098,1758,8606,13087,0,1270
367,N06000010,Mid Ulster,Northern Ireland,Northern Ireland,70449,0,10936,20473,6384,2611,3526,0,690
391,N06000011,Newry and Armagh,Northern Ireland,Northern Ireland,81226,0,11000,20287,9449,4204,4211,0,1628
396,N06000012,North Antrim,Northern Ireland,Northern Ireland,77134,0,20860,5632,2943,8139,6231,0,246
401,N06000013,North Down,Northern Ireland,Northern Ireland,67099,0,15390,0,0,4936,18358,0,1959
507,N06000014,South Antrim,Northern Ireland,Northern Ireland,71711,0,15149,4887,2288,12460,8190,0,0
512,N06000015,South Down,Northern Ireland,Northern Ireland,79175,0,7619,16137,14517,3307,6916,0,1266
552,N06000016,Strangford,Northern Ireland,Northern Ireland,66928,790,17705,555,1994,4023,10634,0,1784
586,N06000017,Upper Bann,Northern Ireland,Northern Ireland,82887,0,20501,12291,4623,6197,6433,0,0
622,N06000018,West Tyrone,Northern Ireland,Northern Ireland,66259,521,9066,16544,7330,2774,3979,0,972

In [270]:
def get_non_voters(df):
    new_df = df.copy()
    index = df.columns.get_loc('electorate') + 1
    new_df["non_voting"] = new_df["electorate"] - df.iloc[:,index:].sum(axis='columns')
    return new_df

In [284]:
def get_percent_vote(df):
    new_df = df.copy()
    index = df.columns.get_loc('electorate') + 1

    for col in range(len(df.iloc[:,index:].columns)):
        new_df.iloc[:,col+index] = list(round((df.iloc[:,col+index]/df["electorate"])*100, 2))

    return new_df

In [285]:
wales_2019 = get_non_voters(wales_2019)

In [286]:
get_percent_vote(wales_2019)

,ons_id,constituency_name,region_name,country_name,electorate,con,lab,ld,brexit,green,pc,all_other_candidates,of_which_other_winner,non_voting
0,W07000049,Aberavon,Wales,Wales,50750,12.84,33.51,2.11,6.12,0.89,5.34,1.44,0.0,37.74
1,W07000058,Aberconwy,Wales,Wales,44699,32.86,28.31,4.07,0.00,0.00,6.05,0.00,0.0,28.71
8,W07000043,Alyn and Deeside,Wales,Wales,62789,28.76,29.10,4.06,4.27,0.00,2.31,0.00,0.0,31.50
11,W07000057,Arfon,Wales,Wales,42215,10.49,24.52,0.00,2.75,0.00,31.11,0.00,0.0,31.13
60,W07000072,Blaenau Gwent,Wales,Wales,50739,11.33,29.29,2.53,12.25,0.76,3.39,0.00,0.0,40.44
78,W07000068,Brecon and Radnorshire,Wales,Wales,55490,39.57,7.11,26.72,0.00,0.00,0.00,1.06,0.0,25.54
83,W07000073,Bridgend,Wales,Wales,63303,28.74,26.91,3.74,2.86,1.29,3.18,0.00,0.0,33.28
103,W07000076,Caerphilly,Wales,Wales,63166,17.71,28.52,0.00,7.11,0.00,10.17,0.00,0.0,36.49
111,W07000050,Cardiff Central,Wales,Wales,64037,13.16,39.98,9.83,1.57,0.00,0.00,0.76,0.0,34.69
112,W07000051,Cardiff North,Wales,Wales,68438,27.88,38.08,5.23,1.92,1.20,2.35,0.30,0.0,23.05
113,W07000080,Cardiff South and Penarth,Wales,Wales,78837,18.58,34.73,3.79,2.54,1.50,3.03,0.00,0.0,35.84
114,W07000079,Cardiff West,Wales,Wales,68508,18.86,34.90,3.99,2.36,1.65,5.64,0.00,0.0,32.60
116,W07000067,Carmarthen East and Dinefwr,Wales,Wales,57419,24.61,15.02,0.00,4.02,0.00,27.76,0.00,0.0,28.59
117,W07000066,Carmarthen West and South Pembrokeshire,Wales,Wales,59158,37.50,24.41,3.14,0.00,0.00,6.14,0.00,0.0,28.81
123,W07000064,Ceredigion,Wales,Wales,56386,15.75,11.20,12.37,3.66,1.18,26.97,0.00,0.0,28.87
143,W07000062,Clwyd South,Wales,Wales,53919,30.09,27.79,2.77,2.72,0.00,3.96,0.00,0.0,32.67
144,W07000059,Clwyd West,Wales,Wales,57714,35.35,23.66,3.88,0.00,0.00,6.77,0.00,0.0,30.34
160,W07000070,Cynon Valley,Wales,Wales,51134,13.12,30.38,1.86,5.95,0.00,5.01,2.81,0.0,40.87
165,W07000042,Delyn,Wales,Wales,54560,30.71,29.13,4.30,3.61,0.00,2.58,0.00,0.0,29.67
184,W07000061,Dwyfor Meirionnydd,Wales,Wales,44362,21.88,9.01,0.00,4.00,0.00,32.57,0.00,0.0,32.54
248,W07000046,Gower,Wales,Wales,61762,29.74,32.72,3.62,2.23,0.00,3.70,0.00,0.0,27.98
302,W07000077,Islwyn,Wales,Wales,55423,17.85,27.71,2.37,8.72,1.21,4.12,0.00,0.0,38.02
341,W07000045,Llanelli,Wales,Wales,60518,18.93,26.64,0.00,5.96,0.00,11.65,0.00,0.0,36.82
358,W07000071,Merthyr Tydfil and Rhymney,Wales,Wales,56322,11.20,30.03,1.98,6.40,0.00,4.34,3.30,0.0,42.75
373,W07000054,Monmouth,Wales,Wales,67098,38.99,24.11,7.32,0.00,2.02,1.76,0.65,0.0,25.16
374,W07000063,Montgomeryshire,Wales,Wales,48997,40.86,11.40,16.09,0.00,0.00,0.00,1.48,0.0,30.17
380,W07000069,Neath,Wales,Wales,56419,18.23,28.22,2.63,5.64,1.29,7.97,1.17,0.0,34.85
389,W07000055,Newport East,Wales,Wales,58554,24.14,27.54,3.62,4.19,0.99,1.49,0.00,0.0,38.04
390,W07000056,Newport West,Wales,Wales,66657,27.12,28.47,3.85,2.59,1.35,1.78,0.00,0.0,34.84
431,W07000074,Ogmore,Wales,Wales,57581,17.01,30.57,2.54,5.19,1.08,5.07,0.00,0.0,38.54
448,W07000075,Pontypridd,Wales,Wales,60327,19.05,28.81,0.00,4.84,0.00,8.27,3.78,0.0,35.25
453,W07000065,Preseli Pembrokeshire,Wales,Wales,59606,35.87,27.38,3.26,0.00,0.00,4.66,0.00,0.0,28.83
463,W07000052,Rhondda,Wales,Wales,50262,9.30,32.06,1.22,7.43,0.87,8.10,0.00,0.0,41.03
562,W07000048,Swansea East,Wales,Wales,58450,16.14,29.78,2.41,4.86,1.00,3.26,0.00,0.0,42.55
563,W07000047,Swansea West,Wales,Wales,57078,18.18,32.40,5.24,3.47,0.00,3.48,0.00,0.0,37.23
578,W07000053,Torfaen,Wales,Wales,62330,18.94,24.94,2.94,9.21,1.30,2.31,0.00,0.0,40.36
588,W07000060,Vale Of Clwyd,Wales,Wales,56649,30.49,27.26,2.60,2.61,0.00,2.74,0.00,0.0,34.31
589,W07000078,Vale Of Glamorgan,Wales,Wales,76508,35.69,31.03,0.00,0.00,4.25,0.00,0.66,0.0,28.36
641,W07000044,Wrexham,Wales,Wales,49737,30.56,26.27,2.91,2.46,0.89,4.32,0.00,0.0,32.58
647,W07000041,Ynys Mon,Wales,Wales,51925,24.96,21.17,0.00,4.21,0.00,20.06,0.00,0.0,29.61

In [274]:
#Totals

def get_total(df):
    names = []
    totals = []
    index = df.columns.get_loc('electorate')

    for col in range(len(df.iloc[:,index:].columns)):
        names.append(df.columns[index+col])
        totals.append(df.iloc[:,index+col].sum())

    new_df = pd.DataFrame([totals], columns=names)
    return new_df

In [275]:
get_total(ni_2019)

,electorate,green,dup,sf,sdlp,uup,alliance,of_which_other_winner,all_other_candidates
0,1293971,1996,244128,181853,118737,93123,134115,0,25083